# Результати 

![example](../docs/result.png)

